version: '3.7'

services:
  mlflow:
    image: continuumio/miniconda3
    volumes:
      - ./mlflow:/mlflow
    ports:
      - "5000:5000"
    environment:
      MLFLOW_TRACKING_URI: http://localhost:5000
    command: >
      sh -c "mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./artifacts --host 0.0.0.0"